@media screen and (min-width: 32rem) {

    #menu-button {
        display: none;
    }

    .header-container {
        flex-wrap: nowrap;
    }

    #nav-menu {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 0.5rem;
    }

    #nav-menu a {
        padding: 0.5rem 0.75rem;
    }

    .temple-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .temple-card {
        min-height: 520px;
    }
}


@media screen and (min-width: 64rem) {

    .temple-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .temple-card {
        min-height: 540px;
    }
}